body {
	margin-top: 20px;
	font: 20px arial;
	background: #d1d1e0;
	font-weight: bold;
	margin-left: 20px;
}

#searches {
	width: 70%;
}

.search-item {
	float:left;
	padding: 15px;
}

form {
	width: 30%;
	float: right;
	padding: 20px;
}
input[type="text"] {
	width:50%;
	margin-bottom: 10px;
	margin-top: 10px;
	height: 25px;
	font-size: 18px;
}

button,
input[type="submit"] {
    background: #ff4000;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 18px;
    margin: 0 10px 10px 0;
    cursor: pointer;
    
 }

button:hover,
input[type="submit"]:hover {
    background: #b32d00;
}

button.active {
    background: #b32d00;
}